@import 'tailwindcss';
@plugin 'daisyui';

body {
    min-height: 100vh;
    background-color: transparent;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    @apply bg-cover bg-center bg-no-repeat;
    background-image: url('https://images.pexels.com/photos/110854/pexels-photo-110854.jpeg');
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: overlay;
    filter: blur(0.5px);
    transform: scale(1.1);
}
